/* Sticky footer styles
-------------------------------------------------- */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  font-family:'Noto Sans KR', sans-serif;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}


code {
  font-size: 80%;
}

/* img */
.carousel-item {
    width: 100%; /*slider width*/
    /*max-height: 480px; slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}


/* align */
.align-center{
	text-align:center;
}

.align-right{
	text-align:right;
}

/* margin */
.margin-top-5{
	margin-top:5px;
}

.margin-top-10{
	margin-top:10px;
}

.margin-bottom-10{
	margin-bottom:10px;
}

/* padding */
.padding-top-5{
	padding-top:5px;
}

.padding-top-10{
	padding-top:10px;
}

.padding-bottom-10{
	padding-bottom:10px;
}

.d-block w-100{
	width:100px;
	height:100px;
}

/*
	Jumbotron image
	style="background-image:url('')"
*/
.jumbotron{
	background-image:url('../../resources/img/jumbotron_main.jpg');
	max-width:1920;
	/*opacity: 0.6;*/
	min-height:500;
	background-size: 100%;
	
}
.jumbotron h1{
	color:white;
	
	
}

.jumbotron p{
	color:white;
	
	
}





ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 200px;
}


.breadcrumb{
	background-color:white;
	text-align:right;
}


/*
media
*/
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}



/*
sub page
*/
.font-penscript-18{
	font-family: 'Nanum Pen Script', serif;
	font-size:18pt;
	
}

.font-brushscript-20{
	font-family: 'Nanum Brush Script', serif;
	font-size:20pt;
	
}

.font-brushscript-24{
	font-family: 'Nanum Brush Script', serif;
	font-size:24pt;
	
}





body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
